{%extends 'base.html'%}
{%block mainblock%}

<div class="container">
  <div>
    <a href="{%url 'job-list'%}">ListAllJobs</a>
    <a href="{%url 'job-list'%}?status=True">Active Jobs</a>
    <a href="{%url 'job-list'%}?status=False">Inactive Jobs</a>
  </div>
    {%for job in jobs%}

    <div class="card mb-3" class="w-75">
        <div class="row g-0">
          <div class="col-md-4">
            {%if job.poster%}
            <img src="{{job.poster.url}}" class="img-fluid rounded-start" alt="..." style="height: 500px; width: 100%;">

            {%endif%}
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">Title : {{job.title}}</h5>
              <p class="card-text">Description : {{job.description}}</p>
              <p class="card-text">Salary : {{job.salary}}</p>
              <p class="card-text">Experience : {{job.experience}}</p>
              <p class="card-text">Last_date : {{job.last_date}}</p>
              <p class="card-text">Vaccancies : {{job.vaccancies}}</p>
              <p class="card-text">Contact : {{job.contact}}</p>
              <p class="card-text">Qualification : {{job.qualification}}</p>
              <p class="card-text">Category : {{job.category}}</p>
              <p class="card-text">Company : {{job.company}}</p>
              <p class="card-text"><small class="text-body-secondary">Last Upadte3 minutes</small></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
                <div><a href="{%url 'job-edit' job.id%}"><i class="fa-sharp fa-solid fa-pen-to-square fa-xl"></i></a></div>
                <div class="mt-2"><a href="{%url 'job-delete' job.id%}"><i class="fa-sharp fa-solid fa-trash-can fa-xl"></i></a></div>
                <div><a href="{%url 'application-list' job.id%}"> {{job.application_count}} : View Applications</a></div>
            </div>
          </div>
        </div>
    </div>

    {%endfor%}
</div>

{%endblock%}